@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
    <div class="card-header">Error.</div>
    <div class="card-body">
        <img src="../../Images/opps.jpg"/>
        <h4 class="card-title">We made a boo-boo!</h4>
        <p class="card-text">An error occurred while processing your request.</p>
    </div>
</div>