@{
    ViewBag.Title = "Contact the lethal meerkats";
}
<h2>@ViewBag.Title.</h2>

<address>
    Wonderland<br />
    In a land of magic and code<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">meerkats-rock@cool.com</a><br />
</address>