@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Once Upon a Time a Bookshelf <img class="meerkat-img" src="../../Images/meerkat_book.jpg" alt="meerkat book" /></h1>
    <div class="meerkat-info">        
        <p class="lead">
            We are the Lethal Meerkats- a team of students from Telerik Academy Alpha. 
            This is our ASP.NET MVC project which aims at showing you a collection of books, where you can select and add to a wishlist and your shopping cart.
            You can even register and log-in with your username and password. Another functionality we offer is searching for a particular book.
        </p>
    </div>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more about us&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse from our collections</h2>
        <p>
           You can enjoy a vast variety from books on our webstore. Feel free to browse and choose your favourites. Add them to your Wishlist or even to your Shopping Cart.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Search books</h2>
        <p>Search in our vast collection of books and filter via different criteria.</p>
        <p><a class="btn btn-default" href=@Url.Action("Search", "Home")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Telerik Academy Alpha</h2>
        <p>A place for fun, a place for knowledge!</p>
        <p><a class="btn btn-default" href="http://telerikacademy.com/">Learn more &raquo;</a></p>
    </div>
</div>