
@{
    ViewBag.Title = "Search";
}

<h2>Search By:</h2>
<br />
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
</form>
<br />
<button type="button" class="btn btn-warning">Book Title</button>
<button type="button" class="btn btn-warning">Author</button>