
@model IEnumerable<BookstoreApp.Services.ViewModels.WishlistViewModel>

@{
    ViewBag.Title = "ShowWishlist";
}

<h2>ShowWishlist</h2>

<table class="table">

    @foreach (var item in )
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "BookDetails", new {id = item.Id})
            </td>
            <td><button type="button" class="btn btn-info">Add</button></td>
        </tr>
    }

</table>
