@{
    ViewBag.Title = "SuccessAdd";
}
<br />
<h1>Success</h1>

<br />
<br />
<div class="card text-white bg-success mb-3" style="max-width: 20rem;" align="center">
    <div class="card-header">Success</div>
    <div class="card-body">
        <h4 class="card-title">Book added to your wishlist!</h4>
        <p class="card-text"><a class="btn btn-default" href=@Url.Action("BookCollection", "Book")>Go back to Books Collection &raquo;</a></p>
        <p class="card-text"><a class="btn btn-default" href=@Url.Action("WishlistBookCollection", "Wishlist")>Go to your Wishlist &raquo;</a></p>
    </div>
</div>