
@{
    ViewBag.Title = "SuccessDelete";
}

<br />
<h2>Success!</h2>

<br />
<br />
<div class="card text-white bg-success mb-3" style="max-width: 20rem;" align="center">
    <div class="card-header">Success</div>
    <div class="card-body">
        <h4 class="card-title">Book deleted from your shopping cart!</h4>
        <p class="card-text"><a class="btn btn-default" href=@Url.Action("ShoppingCartBookCollection", "ShoppingCart")>Go back to your Shopping cart &raquo;</a></p>
    </div>
</div>